*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    visibility: visible;
}

.dash-spinner-container {
	background-color: #ffffff1c !important;
}

body {
	margin: 0px
}

#_dash-app-content {
	box-sizing: border-box;
}

#testcase-img {
	max-height: 200px;
	max-width: 100%;
}

a {
  display: block;
}

ul {
  list-style-position: outside;
  margin-left: 15px;
}