*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    visibility: visible;
}

.dash-spinner-container {
	background-color: #ffffff1c !important;
}

body {
	margin: 0px
}

#_dash-app-content {
	box-sizing: border-box;
}

#testcase-img {
	max-height: 150px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
    display: block;
}

ul {
    list-style-position: outside;
    margin-left: 15px;
}

#btn-testcase-data {
    width: 100%;
}

#weightfactor-table {
    margin: 20px 0px;
}

#text-div {

}